/* Container */
.search-container {
  background-color: #101010;
  color: #ffffff;
  min-height: 100vh;
}

/* Search bar styling */
.search-input {
  background-color: #202020;
  color: #ffffff;
  padding: 10px;
  border: 1px solid #fff;
}

.search-input:focus {
  background-color: #303030;
  border-color: #4750ff;
  outline: none;
}

button {
  background-color: #4750ff;
  color: #ffffff;
  padding: 10px;
  border: none;
}

button:hover {
  background-color: #3b42d6;
}


/* Card styles */
.game-card {
  background-color: #2b2a2a;
  color: #bdbdbd;
  border-radius: 8px;
  overflow: hidden;
}

.game-image {
width: 100px ;
height: 100px;
  object-fit: cover; /* Ensures the image covers the entire container */
}

/* Typography styling */
h4, p {
  color: #ffffff;
}

/* Alert message */
.alert {
  background-color: #202020;
  color: #ff5c5c;
}

